<link href="/styles.css" rel="stylesheet">
<a href="/">patterns.blog</a>

<h1>Blogchains</h1>

<p> Blogchains are ordered lists of blog posts. They could all be posts on the
  same blog, or, posts on multiple websites from multiple authors</p>

<p> Generally, each post in the blog chain will begin with a link out to
  an <b>index post</b> and may end with the full list of posts in the chain.</p>

<p> See this <a href="https://www.are.na/tom-critchlow/blogchains">are.na
channel</a> for more examples of blogchains </p>

<a href="https://gitlab.com/jaredpereira/patterns/-/edit/master/blogchains.html">edit
  this page</a>
