<link href="/styles.css" rel="stylesheet">

<a href="/">patterns.blog</a>

<p>This is a site to collect, from around the internet, <i>patterns</i> for blogs</p>

<p> Patterns can be big or small, simple or complex. </p>

<p>
  You can use these patterns whether your site is running on wordpress, built
  with jekyll, or html files in a folder (like this very site)
</p>

<h2>Patterns</h2>
<ul>
  <li><a href='/blogchains.html'>blogchains</a></li>
</ul>

<h2>Requests for Patterns</h2>
<ul>
  <li>Sidenotes</li>
  <li>Annotations</li>
</ul>

<h2>Contributing</h2>

<ul>
  <li> Make a Pull Request to
    this <a href="https://gitlab.com/jaredpereira/patterns">gitlab repository </a></li>
  <li> Alternatively you can use the gitlab
    editor <a href="https://gitlab.com/jaredpereira/hyperlink-academy/-/new/master/pages">
      to create a new page</a> modify an existing one. </li>
</ul>

<h3>New page checklist</h3>
<ol>
  <li>link the stylesheet at the top of the page with <code>&lt;link
      href=&quot;/styles.css&quot; rel=&quot;stylesheet&quot;&gt;</code></li>
  <li>Add a link back to the homepage with <code>&lt;a href=&quot;/&quot;&gt;patterns.blog&lt;/a&gt;
  </code></li>
  <li>Title the page with the name of the pattern </li>
  <li>Add a link to the bottom to edit the page in github. In the form of <code>
      &lt;a href= &quot;https://gitlab.com/jaredpereira/patterns/-/edit/master/THIS_PAGE&quot;&gt;
      edit this page &lt;/a&gt;</code></li>
</ol>

<hr/>
